# Dependencies
node_modules/

# Environment & Secrets
.env
.env.*
!.env.example

# Supabase
supabase/.branches
supabase/.temp
supabase/.env.keys
supabase/.env.local
supabase/.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

.vercel
.env*
